.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.title {
    max-width: 1200px;
    margin: 0 auto 32px auto;
}

.title h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
    text-align: center;
}

.title p {
    font-size: 14px;
    text-align: center;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    line-height: 200px;
}

.header .gnb>ul {
    display: flex;
    gap: 60px;
}

.header .gnb>ul>li {
    position: relative;
    white-space: nowrap;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 2px;
    height: 12px;
    background: #ddd;
    transform: translate(50%, -50%);
}


.mainSlide .itm01 {
    height: 700px;
    background: url(../imege/isaac.b01.jpg) no-repeat center center/cover;
}

.mainSlide .itm02 {
    height: 700px;
    background: url(../imege/isaac.b02.jpg) no-repeat center center/cover;
}

.mainSlide .itm03 {
    height: 700px;
    background: url(../imege/isacc.b03.jpg) no-repeat center center/cover;
}

.mainSlide .itm {
    position: relative;
}

.mainSlide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.mainSlide .slogan strong {
    display: block;
    font-size: 55px;
    font-weight: 800;
    margin: 0 0 24px 0;
    color: #fff;
    text-shadow: 0 0 40px #000;
}

.mainSlide .slogan p {
    color: #fff;
    margin: 0 0 24px 0;
    font-size: 25px;
    text-shadow: 0 0 40px #000;
}

.mainVisual {
    position: relative;
}

.mainVisual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1800px;
    width: 100%;
}

.mainVisual .arrows i {
    position: absolute;
    top: 0;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 0 #555;
    padding: 10px;
    border: 2px solid#FFF;
    border-radius: 50%;
    box-shadow: 1px 1px 0 #000;
    transform: translate(0, -50%);
    cursor: pointer;
}

.mainVisual .arrows .left {
    left: 0;
}

.mainVisual .arrows .right {
    right: 0;
}

.mainVisual .menu {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    gap: 24px;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.mainVisual .menu a {
    position: relative;
    display: block;
    padding: 0 40px 0 0;
    height: 24px;
    color: #fff;
}

.mainVisual .menu li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100;
    height: 4px;
    background: #333;
}

.mainVisual .menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: hwb(0 100% 0%);
}

.mainVisual .menu li.on a::after {
    transition: 3s;
    width: 100%;
}

.mainVisual .num {
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0 0 0 585px;
    transform: translate(-100%, 0);
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 0 #000;
}

.main2 {
    padding: 120px 0;
}

.main2 .title .img_box2 {
    text-align: center;
    padding: 20px 0 40px 0;
}

.main2 .title h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 40px 0;
    text-align: center;
    padding: 0 0 0 0;
    word-break: keep-all;
}

.main2 .title p {
    display: block;
    line-height: 30px;
    letter-spacing: -0.5pt;
    word-break: keep-all;
    font-size: 18px;
    text-align: center;
    color: #444;
    padding: 25px 0 0 0;
}

.mainEvent {
    padding: 120px 0;
    background: #ff281e;
    position: relative;
}

.mainEvent .content .img_box3 {
    text-align: center;
    padding: 0 0 10px 0;
}

.mainEvent .img_box:hover img {
    transform: scale(1.1);
}

.mainEvent .img_box img {
    transition: 0.5s;
}

.mainEvent .img_box {
    margin: 0 0 20px 0;
    overflow: hidden;
}


.mainEvent .content h3 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 0 0 80px 0;
}

.mainEvent .productSlide {
    margin: 0 -5px;
}

.mainEvent .content figure {
    background: #FFF;
    text-align: center;
    padding: 0 0 50px 0;
    border-radius: 36px;
    margin: 0 15px;
}


/* 이미지 박스 안에 테두리선 태그 */
.mainEvent .content .img_box {
    margin: 20px 0 40px 0;
    border-bottom: 1px solid #ddd;

}

.mainEvent .content strong {
    display: block;
    margin: 0 0 14px 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.mainEvent .content p {
    line-height: 20px;
    word-break: keep-all;
    text-align: center;
    min-height: 40px;
}

.mainEvent .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
}

.mainEvent .arrows i {
    position: absolute;
    top: 0;
    color: #fff;
    padding: 10px;
    transform: translate(0, 50%);
    cursor: pointer;
    font-size: 40px;
}

.mainEvent .arrows .left {
    left: 0;
}

.mainEvent .arrows .right {
    right: 0;
}

.footer {
    padding: 100px 0;
    background: #FFE68C;
    color: #ff281e;
}

.footer .inner {
    display: flex;
    text-align: left;
}

.footer .logo {
    margin: 0 100px 0 0;
}

.footer .inner  .address {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px 0 0;
    line-height: 150%;
}

.footer ul>li strong {
    color: #ff281e;
    font-size: 16px;
    font-weight: 600;
    padding: 0 15px;
}
.footer ul>li span {
    color: #ff281e;
    font-size: 15px;
    font-weight: 400;
}


.footer .sns {
    margin: 0 0 0 auto;
    padding: 16px 0;
    text-align: center;
}

.footer .sns i {
    font-size: 32px;
    padding: 8px;
    border-radius: 50%;
}

.totop {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: hidden;
    opacity: 0;
    transition: 0.5s;

    background: transparent;
    border: none;
}

.totop.on {
    visibility: visible;
    opacity: 1;
}

.totop i {
    background: #ff281e;
    color: #fff;
    font-size: 24px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}